<div class="container">
  <h1>Answer</h1>

        <p>
          <% if @question.blank? %>
            empty
          <% else %>
            <%= @question %>
          <% end %>
        </p>
        <cite>You</cite>



        <p><%= @answer %></p>
        <cite>Your coach</cite>
      <br>
  <%= link_to "Ask a new question", ask_path%>
</div>
