<div class="container">
  <h1>Stupid Coaching</h1>

    <div class="form d-flex justify-content-center">
      <form action="/answer" data-turbo="false">
        <input type="text" placeholder="Ask your coach anything" name="question" class="form-control">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </form>
    </div>
</div>
